header{
    background-color: black;
    height: 100px;
}
.logo{
    width: 100%;
    height: 100px;
}
 .logo img{
    height: 90px;
    width: 90px;
}
body{
    background-color: #1d2e3d;
}
.disk-card{
    background-color: #101f2e;
    height: 380px;
    width: 300px;
}
.disk-img{
    height:200px;
    width: 200px;
    margin: 0 auto;
}